# Server Configuration
PORT=3024

# Database - Shared with server-admin
URI_MONGODB=mongodb://localhost:27017/gastreat_gt

# JWT Configuration - Compatible with authentication service
JWT_SECRET=secret_jwt
JWT_EXPIRES_IN=2h
JWT_ISSUER=GastreatGT
JWT_AUDIENCE=GastreatGT
TOKEN_KEY=token_key

### Cloudinary
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret
CLOUDINARY_BASE_URL=https://res.cloudinary.com/cloud_name/image/upload/
CLOUDINARY_DEFAULT_AVATAR_FILENAME=avatarForDefault.png
CLOUDINARY_FOLDER=gastreat_gt/menu

# Internal Services Configuration
ADMIN_SERVICE_URL=http://localhost:3022/gastreatGT/Admin/v1
INTERNAL_SERVICE_TOKEN=token_service_internal
