# Frontend environment example for Gastreat GT Admin

VITE_AUTH_URL=http://localhost:5198/api/v1
VITE_ADMIN_URL=http://localhost:3022/gastreatGT/Admin/v1
BASE_PATH_CLOUDINARY=https://res.cloudinary.com/your-cloud-name/image/upload/
